.cover {
    position: absolute;
    height: 100%;
    top: 0;
}

.left-cover {
    left: 0;
    width: 50%;
    background-color: #000;
}

.right-cover {
    right: 0;
    width: 50%;
    background-color: #000;
}