<div class="bg-wrapper">Experience</div>

<h1 class="text-center py-5 exp-heading">
    <strong>Experience</strong>
</h1>

<div class="container section">
    <div class="row">
        <div class="col-md-12 col-12">
                <div class="items row">
                    @for (experience of experiences; track $index) {
                        <div class="col-md-4 col-12 experience text-center mb-5">
                            <img class="image-circle-sm mb-3" [src]="experience.avatarUrl" alt="sideAvatar" />
                            <h4><strong>{{experience.designation}}</strong></h4>
                            <p class="mb-0">{{experience.organization}}</p>
                            <p>{{experience.tenure}}</p>
                        </div>
                    }
                </div>
        </div>
    </div>
</div>