<div class="bg-wrapper">Experience</div>

<h1 class="text-center py-5 exp-heading">
    <strong>Experience</strong>
</h1>

<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <img class="w-25 rounded-circle pb-4" [src]="about.sideAvatar" alt="sideAvatar" />
                </div>
                <div class="col-12">
                    <div class="ps-0">
                        <h4><strong>{{about.title}}</strong></h4>
                        <p>{{about.typo}}</p>
                        <p><strong>{{about.typoBold}}</strong></p>
                        <p>{{about.skillsTypo}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="items">
                
            </div>
        </div>
    </div>
</div>