.container {
    overflow: hidden;
}

// horizontal 
.sliding-content {
    animation: slide 10s linear infinite;
    position: absolute;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

// vertical 
.sliding-content-vertical {
    animation: slide-vertical 10s linear infinite;
}

@keyframes slide-vertical {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -100%, 0);
    }
}