.container {
    overflow: hidden;
}

.sliding-content {
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0); /* Moves the background leftward */
    }
}
