.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    width: 90vw;
    height: 95vh;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
}

.content {
    padding-top: 0;
}

.close {
    font-size: 3rem;
    position: absolute;
    top: 0rem;
    right: 0.5rem;
    z-index: 1;
    color: #dc3545;
    cursor: pointer;
    i {
        background: #ffffff;
        border-radius: 50%;
        padding: 4px;
    }
}

.close:hover {
    color: #b70909;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}