.page-animate {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background: white;
    z-index: 9;
    transition: 1s;
    &.show {
        right: 0;
    }
    &.hide {
        right: -100%;
    }
}