<canvas id="gradient-canvas"></canvas>

<app-header />

<div class="banner">
    <div class="inner">
        <img class="avatar" src="assets/img/muhammad-awais-shaikh.webp" alt="Muhammad Awais" srcset="assets/img/muhammad-awais-shaikh.webp">
        <h1 class="heading animated-gradient-text">Muhammad Awais</h1>
        <p class="subtitle">Lead Software Engineer</p>

        <div class="hashtag">
            <p class="hashtag-text">#{{currentHashtag}}</p>
        </div>

        <app-infinite-scrolling-items [config]="infiniteScrollConfig">
            <div class="skills">
                @for (skill of skills; track $index; let i = $index) {
                    <p><strong>#</strong>{{skill}}</p>
                }
            </div>
        </app-infinite-scrolling-items>
    </div>
</div>
