.banner {
    padding: 0 2rem;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 10rem;
        margin: 0;
    }

    p {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1.5rem;
        text-transform: uppercase;
    }

    .skills {
        display: flex;
        padding-top: 5rem;;
        p {
            padding: 0 2rem;
            text-transform: capitalize;
            letter-spacing: normal;
        }
    }
}