@import '../../../styles.scss';

#gradient-canvas {
    --gradient-color-1: #6ec3f4;
    --gradient-color-2: #3a3aff;
    --gradient-color-3: #ff61ab;
    --gradient-color-4: #E63946;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 0 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(small) {
        padding: 0;
    }

    h1 {
        font-size: 10rem;
        margin: 0;
        @include respond(small) {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    p {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1.5rem;
        text-transform: uppercase;
        @include respond(small) {
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }

    .skills {
        display: flex;
        padding-top: 7rem;

        p {
            padding: 0 2rem;
            text-transform: capitalize;
            letter-spacing: normal;
        }
    }

    .hashtag {
        background: rgba(255, 255, 255, 0.215);
        padding: 0.5rem 2rem;
        border-radius: 30px;
        width: 50%;
        display: block;
        margin: 3rem auto 0 auto;
        @include respond(small) {
            width: 100%;
        }
        .hashtag-text {
            font-weight: 600;
            animation: fadeInOut 1s ease-in-out infinite;
            @include respond(small) {
                font-size: 1rem;
                letter-spacing: 5px;
            }
        }
    
        @keyframes fadeInOut {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
    
            25%,
            75% {
                opacity: 1;
                transform: translateY(0);
            }
    
            100% {
                opacity: 0;
                transform: translateY(-20px);
            }
        }
    }
}