.container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.sliding-background {
    background: url("../../../assets/img/hero-images.png") repeat-x;
    height: 100vh;
    width: 3000px; /* Adjust width as needed to achieve a smooth horizontal scroll */
    animation: slide 20s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0); /* Moves the background leftward */
    }
}
