@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", serif !important;
    margin: 0 !important;
}

.font-montserrat {
    font-family: "Montserrat", serif;
}

.font-dm-serif-display {
    font-family: "DM Serif Display", serif;
}