@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'assets/scss/mixins.scss';

body {
    font-family: "Montserrat", serif !important;
    margin: 0 !important;
    overflow-x: hidden !important;
}

.font-montserrat {
    font-family: "Montserrat", serif;
}

.font-dm-serif-display {
    font-family: "DM Serif Display", serif;
}

.image-circle-sm {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.bg-wrapper {
    font-size: 15rem;
    text-align: center;
    font-weight: 700;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.05;
    user-select: none;
}

.animated-line {
    width: 0;
    height: 2px;
    background-color: #000;
    border: none;
    margin: 20px auto;
    transform-origin: left;
}

// animated gradient text
.animated-gradient-text {
    @include animatedGradientText(textShine, 90deg, #000000, #444444, #000000);
}

@keyframes textShine {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

.inner-page-main-section {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.card-c {
    position: relative;
    .read-more {
        position: absolute;
        top: 10px;
        right: 30px;
        background: #00000075;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 25px;
        font-size: 14px;
    }
}